body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #698b6a;
    color: white;
    text-align: center;
    padding: 2rem;
  }
  
  section {
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }